%h3 Users



%br
  Only users applying for marinas with no managers will show here - it is likely that these are managers applying for a management account.

%br
  /= render 'users/inital_users'
  .span8
    %table.table.table-condensed
      %thead
        %tr
          %th Marina name
          %th Manager count
          %th Username
          %th Email
          %th Registered
          %th Role
          %th
          %th
      %tbody
        - @users.each do |user|
          - if !user.marina.nil?
            - if user.marina.count_managers == 0
              %tr
                %td= link_to user.marina.name, user.marina
                %td= user.marina.count_managers
                %td= link_to user.name, user
                %td= user.email
                %td= user.created_at.to_date
                %td= user.roles.first.name.titleize unless user.roles.first.nil?
                %td
                  %a.btn.btn-mini{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Change role
                  = render user
                %td= link_to "Validate user", validate_manager_users_path(user), :class => 'btn bt-mini'
                %td= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user

