%h3= t('admin.user_list.title')
%br
  = t('admin.user_list.intro')

%br
  = render 'initial_users'
%br
  %h4= t('admin.user_list.full_list_title')
  %br
  = t('admin.user_list.full_list_intro')

  %table.table.table-condensed
    %thead
      %tr
        %th= t('user.name')
        %th= t('user.status')
        %th= t('user.marina_name')
        %th= t('user.email')
        %th= t('user.registered_date')
        - if current_user.has_role? :admin
          %th
            = t('user.role')
            %br
            = t('user.role_admin')
          %th= t('user.delete_user_admin')
          %th= t('user.add_role_admin')
        - else
          = t('user.role')

    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.name, user
          %td= user.marina_state
          %td= link_to user.marina.name, user.marina unless user.marina.nil?
          %td= user.email
          %td= user.created_at.to_date
          %td
            - if current_user.has_role? :admin
              - user.roles.each do |role|
                = link_to(("remove " + role.name), remove_role_users_path(user, role: role.name))
                %br
            - else
              - user.roles.each do |role|
                = role.name
                %br
          %td= link_to("Delete user", user_path(user), :data => { :confirm => t('admin.user_list.are_you_sure') }, :method => :delete, :class => 'btn btn-mini') unless user == current_user
          %td
            - if current_user.has_role? :admin
              - @roles.each do |role|
                = link_to(role.name, add_role_users_path(user, role: role.name), confirm: t('admin.user_list.are_you_sure') )
                %br



