%h3 Active Bertholders


.span8
%table.table.table-condensed
  %thead
    %tr
      %th Username
      %th Email
      %th Registered
      %th Role
      %th
  %tbody
    - @marina.active_users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.email
        %td= user.created_at.to_date
        %td= user.roles.first.name.titleize unless user.roles.first.nil?
        %td= link_to 'Expire Bertholder', expire_user_users_path(user)
