= simple_form_for(@marina) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: t('marinas.form.name_label')
    = f.input :address, label: t('marinas.form.address_label')
    = f.input :address1, label: t('marinas.form.street_label')
    = f.input :town, label: t('marinas.form.town_label')
    = f.input :county, label: t('marinas.form.counry_label')
    = f.input :country, label: t('marinas.form.country_label')
    = f.input :postcode, label: t('marinas.form.postcode_label')

  .form-actions
    = f.button :submit, label: t('marinas.form.create_label')
