%h3 Pending Users
.span8
%table.table.table-condensed
  %thead
    %tr
      %th Username
      %th Email
      %th Registered
      %th Bertholder
      %th Manager?
      %th Remove user
  %tbody
    - @marina.pending_users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.email
        %td= user.created_at.to_date
        %td= link_to 'Validate Bertholder', validate_bertholder_users_path(user, :marina => @marina)
        %td= link_to 'Validate Manager', validate_manager_users_path(user, :marina => @marina), :data => { :confirm => t('errors.confirm.are_you_sure')}
        %td= link_to 'remove user', remove_pending_users_path(user, :marina => @marina), :data => { :confirm => t('errors.confirm.are_you_sure')}


  %br
  %br