%h3 Listing marinas

=form_tag marinas_path, :method => 'get' do
  =text_field_tag :search, params[:search]
  =submit_tag "search", :name => nil



.span8
%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th


  %tbody
    - @marinas.each do |marina|
      %tr
        %td= link_to marina.name, marina
        %td= marina.address
        %td= marina.town
        %td= marina.county
        %td= marina.country
        %td= link_to 'Show', marina
        %td= link_to "connect", pending_marinas_path(marina), :class => 'btn btn-mini'
        - if current_user.has_role? :admin
          %td= link_to 'Edit', edit_marina_path(marina)
          %td= link_to 'Destroy', marina, method: :delete, data: { confirm: 'Are you sure?' }





%br
  - if current_user.has_role? :admin
    = link_to 'New Marina', new_marina_path
