%p#notice= notice

%p
  %b Name:
  = @marina.name
%p
  %b Address:
  = @marina.address
%p
  %b Address1:
  = @marina.address1
%p
  %b Town:
  = @marina.town
%p
  %b County:
  = @marina.county
%p
  %b Country:
  = @marina.country
%p
  %b Postcode:
  = @marina.postcode

= render "pending"
= render "active_managers"
= render 'active'




%br
  = link_to 'Edit', edit_marina_path(@marina)
  \|
  = link_to 'Back', marinas_path
