%br
%br
%h3
  = t('marinas.show.title')
%h2
  = @marina.name
%br
= raw t('marinas.show.intro_para')
%br
%br

%p
  %b= t('marinas.form.name_label')
  = @marina.name
%p
  %b= t('marinas.form.address_label')
  = @marina.address
%p
  %b= t('marinas.form.street_label')
  = @marina.address1
%p
  %b= t('marinas.form.town_label')
  = @marina.town
%p
  %b= t('marinas.form.counry_label')
  = @marina.county
%p
  %b= t('marinas.form.country_label')
  = @marina.country
%p
  %b= t('marinas.form.postcode_label')
  = @marina.postcode

- if current_user.has_role? :admin
  %h3 Current managers
  - @marina.active_managers.each do |manager|
    = link_to manager.name, manager
    %br



- if !@manager.nil?
  - if (@manager.has_role? :admin) or (@manager.has_role? :manager)
    %br
    %h4
      = raw t('marinas.show.title_to_managers_pane')
    %br
    = raw t('marinas.show.intro_to_managers_pane', :edit_link => (link_to t('marinas.show.edit_label'), edit_marina_path(@marina)))
    %br
    %br
    =form_tag create_user_marinas_path do
      =label_tag(:user_email, t('marinas.show.invite'))
      =text_field_tag :user_email, params[:user_email]
      =submit_tag t('marinas.show.invite')
    = render 'pending'
    = render 'active_managers'
    = render 'active'
    = render 'expired'
    = render 'expired_manager'
    %br
    = link_to t('marinas.show.edit_label'), edit_marina_path(@marina)
    \|
    = link_to t('marinas.show.back_label'), marina_path(@marina)
