- if user_signed_in?


  - if (current_user.has_role? :manager) or (current_user.has_role? :admin)

    %p.container.span2

      SEARCH USERS
    =form_tag search_users_path, :method => 'get' do
      =text_field_tag :search, params[:search]
      =submit_tag "search"
    %br
      MANAGER - INVITE USER
      %p
        = link_to( "invite user", new_user_invitation_path )

    /%br
    /  = @user.roles.each { |r| r.name}
    /  = @user.marina

  - else
    %p
      - if @user.boat_name.nil?
        Get started -  Fill in your boat name:
        =link_to 'Finish registration', edit_user_registration_path
      - else
        = @user.boat_name
        is now registered
    %p
      - if @user.marina_state.nil?
        Get started -  connect to your marina:
        = link_to 'Connect to your marina', marinas_path
      - else
        Your current status is:
        = @user.marina_state
        %p
          - if @user.marina_state == 'PENDING'
            = t('home.passport_pending')
          - else
            = t('home.passport')
            = @user.passport_code unless @user.nil?

- if !user_signed_in?
  #hero
    .container
      / starts carousel
      .row.animated.fadeInDown
        .span12
          #myCarousel.carousel.slide
            / carousel items
            .carousel-inner
              / slide
              .active.item.slide1
                .row
                  .span6
                    / <img src="img/slide1.png" alt="slide1" />
                    = image_tag('slide1-TEM.png')
                  .span4
                    %h1
                      = t('home.slider1_header')
                    %p
                      = t('home.slider1_para')
                    %a.btn.btn-success.btn-large{:href => "http://www.transeuropemarinas.com/"}
                      = t('home.slider1_button')
              / slide
              .item.slide2
                .row
                  .span4.animated.fadeInUpBig
                    %h1
                      = t('home.download_app')
                    %p
                      = t('home.download_app_text')
                    %a.btn.btn-success.btn-large{:href => "http://www.transeuropemarinas.com/"}
                      = t('home.download_app_button')
                  .span6.animated.fadeInDownBig
                    = image_tag('slide2-tem.png')
                    /%img{:alt => "slide2", :src => "img/slide2.png"}/
              / slide
              .item.slide3.animated.fadeInUpBig
                = image_tag('slide3-tem.png')
                /%img{:alt => "slide3", :src => "img/slide3.png"}/
            / Carousel nav
            %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
            %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›


%h5 Welcome to the TEM Passport Application