%h3 Home

- if user_signed_in?


  - if (current_user.has_role? :manager) or (current_user.has_role? :admin)

    %p.container.span2

      SEARCH USERS
    =form_tag search_users_path, :method => 'get' do
      =text_field_tag :search, params[:search]
      =submit_tag "search"
    %br
      MANAGER - INVITE USER
      %p
        = link_to( "invite user", new_user_invitation_path )

    /%br
    /  = @user.roles.each { |r| r.name}
    /  = @user.marina

  - else
    %p
      - if @user.boat_name.nil?
        Get started -  Fill in your boat name:
        =link_to 'Finish registration', edit_user_registration_path
      - else
        = @user.boat_name
        is now registered
    %p
      - if @user.marina_state.nil?
        Get started -  connect to your marina:
        = link_to 'Connect to your marina', marinas_path
      - else
        Your current status is:
        = @user.marina_state
        %p
          - if @user.marina_state == 'PENDING'
            = t('home.passport_pending')
          - else
            = t('home.passport')
            = @user.passport_code unless @user.nil?





%h5 Welcome to the TEM Passport Application