<%-if( @resource.name.blank?) %>
  <p></p>Welcome Bertholder </p>
  <p><%= raw t("devise.mailer.confirmation_instructions.second_paragraph") %></p></p>
  <p><%= link_to 'Change my password', new_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>


<%- else%>
  <p></p>Hi <%= @resource.name %>!</p>
  <p><%= raw t("devise.mailer.confirmation_instructions.first_paragraph", :validation_link => (link_to( t('devise.mailer.confirmation_instructions.validation_link'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)))) %></p>


<%- end %>

<p><%= raw t('email.transeurope_marinas_footer') %></p>