= link_to "TEM-Passport", root_path, :class => 'brand'

%ul.nav
  - if !user_signed_in?
    %li
      = link_to t'navigation.login', new_user_session_path
    %li
      = link_to t'navigation.sign_up', new_user_registration_path
  - else
    %li
      = link_to t'navigation.edit_account', edit_user_registration_path
    %li
      = link_to 'Marinas', marinas_path
    - if current_user.has_role? :admin
      %li{:text_align => "right"}
        = link_to 'Admin', users_path

    %li{:text_align => "right"}
      %a{:text_align => "right"}
        Welcome
        %strong
          = current_user.name
          \|
          = current_user.marina.name unless current_user.marina.nil?

    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'


