!!!

%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Cruising Passport"
      %meta{:content => content_for?(:description) ? yield(:description) : "Myapp10", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
      //%link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/


  %body{:class => "#{controller_name} #{action_name}"}
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'

    //#main{:role => "main"}
    %main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield

      %footer
      / ! end of .container
      %br
    / ! end of #main
    %footer.navbar-inner
      .container
        .center
          .span12
            = render 'layouts/footer'

  //%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"}
  //%script{:src => "js/bootstrap.min.js"}
  //%script{:src => "http://code.angularjs.org/angular-1.0.1.min.js"}
  //%script{:src => "js/application.js"}